body
 {
  /*background-image: url("images/UCSC-Engineering-09.jpg");*/
  background: black;
  font-family: "Rubik";
  height: 100%;
  width: 100%;
  
}



#extLink /*For block linking to website*/
{
  /*border: 5px #0000CD solid;*/
  /*background-color: white;*/
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #DAA520;
  display: block;
  position: fixed;
  z-index: 100px;
  /*top: 0px;
  left: 1100px;*/
  left:315px;
  bottom:0px;
  padding: 5px;
  width: 100%;
  height: 5%;

}
#extLink a
{
  text-align: center;
}

.box /* For borders around the conveyor items*/
{
  position: absolute;
  height: 320px;
  width: 200px;
  border: 2px black solid;
  display:block;
}

.box div
{
  display:none;
}

.fill
{

  cursor: move;
  display: block;

}
.fill h1
{
  display: none;
}

.hold {
  border: solid 5px #ccc;
}

.empty {
  display: inline-block;
  height: 150px;
  width: 57px;
  margin: 10px;
  /* border: solid 3px salmon; */
  background: white;
}

.hovered {
  background: black;
  border-style: dashed;
}
.invisible
{
  display:none;
}

.modal
{
    display:none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.5);
}
.modal-body
{
    padding: 10px 20px;
}
.modal-content
{
    background-color: white;
    margin: 20% auto;
    /* padding: 20px; */
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17),0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header h2, .modal-footer h3
{
    margin: 0;
}

.modal-header
{
    background: coral;
    padding: 15px;
    color: white;
    text-align: center;

}
.modal-footer
{
    background: coral;
    padding: 10px;
    color: white;
    text-align:center;
}

#closeBtn{
    color:white;
    float: right;
    font-size: 30px;
}
#closeBtn:hover,.closeBtn:focus{
    color: black;
    cursor: pointer;
}

.counter /* For counter block */
{
  position: fixed;
  padding:8px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  /*border: 5px solid red;*/
  /*background-color: white;
  background-color: #3CB371;
  opacity: 0.75;*/
  top:0px;
  /*left:900px;*/
  right:0px;
  color: green;
  display:block;
  text-align: center;
}
.counter h3
{
  text-align: center;
  color: green;
}

ol {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

div.transbox {

  background-color: #ffffff;

  opacity: 0.7;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  height:auto;
  top:0px;
  right:0px;
  width: 20%;
  position: fixed;
}

div.transbox p {
  /*font-weight: bold;*/
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
  padding: 5px;
}

.SSB /*For Smart Slug Bin Picture*/
{
  /* content: url('images/oldBinCopy.jpg'); */
  /*position: absolute;
  top: 0px;
  left:500px;
  border: 5px white solid;
  */
  position: fixed;
  top: 0px;
  left:315px;
  height: 100%;
  width: 100%;
}

/*<<<<<<< HEAD*/
.contain
{
    object-fit: fill;
/*=======
.contain {
    object-fit: fill;
>>>>>>> eb3657dd2bdd54c80d9514f73ae4171adedfc079*/
}